{% extends 'base.html.twig' %}

{% block title %}

	<h1>Parcourez notre collection de Vinyls</h1>

{% endblock %}

{% block body %}

	{% for vinyl in vinyls %}

		<figure>

			<figcaption>

				<h2>{{vinyl.titre}}, par
					{{vinyl.artiste}}</h2>

				<img src="{{ asset('./assets/img/{{vinyl.cover}}')}}">

				<p>Artiste :
				</p>

				<p>Album :
					{{vinyl.album}}</p>

				<p>Année :
					{{vinyl.annee}}</p>

			</figcaption>

		</figure>

	{% endfor %}

{% endblock %}
