{% extends 'base.html.twig' %}

{% block title %}

	Nos Vinyls

{% endblock %}

{% block body %}

	<h1>Parcourez notre collection de Vinyls</h1>

	<section id="cards">

		{% for vinyl in vinyls %}

			<figure>

				<figcaption>

					<h2>{{vinyl.titre}}, par
						{{vinyl.artiste}}</h2>

					<img src="{{ asset('assets/img/' ~ vinyl.cover) }}">

					<p>Album :
						{{vinyl.album}}</p>

					<p>Année :
						{{vinyl.annee}}</p>

				</figcaption>

			</figure>

		{% endfor %}

	</section>

{% endblock %}
